<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Topic modeling"
            id="TopicModelComparer">
      </category>
      <view
            name="Topic model sample view"
            icon="icons/sample.gif"
            category="TopicModelComparer"
            class="sdcl.ics.uci.edu.lda.topicModelComparer.views.TopicModelComparerView"
            id="sdcl.ics.uci.edu.lda.topicModelComparer.views.TopicModelComparerView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="sdcl.ics.uci.edu.lda.topicModelComparer.views.TopicModelComparerView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
